<div class="styleguide-typography">
  <div class="f-xxl">
    The quick brown fox jumps over the lazy dog
  </div>
  <div class="f-xl">
    The quick brown fox jumps over the lazy dog
  </div>
  <div class="f1">
    The quick brown fox jumps over the lazy dog
  </div>
  <div class="f2">
    The quick brown fox jumps over the lazy dog
  </div>
  <div class="f3">
    The quick brown fox jumps over the lazy dog
  </div>
  <div class="f4">
    The quick brown fox jumps over the lazy dog
  </div>
  <div class="f5">
    The quick brown fox jumps over the lazy dog
  </div>
  <div class="f6">
    The quick brown fox jumps over the lazy dog
  </div>
  <div class="f-md">
    The quick brown fox jumps over the lazy dog
  </div>
  <div class="f-sm">
    The quick brown fox jumps over the lazy dog
  </div>
  <div class="f-xs">
    The quick brown fox jumps over the lazy dog
  </div>
  <div class="f-xxs">
    The quick brown fox jumps over the lazy dog
  </div>
  <div class="f-xxxs">
    The quick brown fox jumps over the lazy dog
  </div>
</div>
