<header role="banner">
  <nav class="weave-top-nav">
    <a class="weave-top-nav--logo weave-nav-link {% if page.url == "/" %}is-current{% endif %}" href="{{ "/" | prepend:site.baseurl }}">{{ site.title | escape }}</a>
    <div class="weave-top-nav--divider">
    </div>
    <section class="weave-top-nav--site-nav">
      {% for my_page in site.pages %}
        {% if my_page.title %}
        <a class="weave-nav-link {% if page.url == my_page.url %}is-current{% endif %}" href="{{ my_page.url | prepend:site.baseurl }}">{{ my_page.title | escape }}</a>
        {% endif %}
      {% endfor %}

      {% for nav in site.navigation %}
        {% include nav/top-nav-item.html category=nav.category current_category=page.nav %}
      {% endfor %}

      <a class="weave-nav-link {% if page.url == '/releases.html' %}is-current{% endif %}" href="{{ '/releases.html' | prepend:site.baseurl }}">Releases</a>
    </section>
    <section class="weave-top-nav--secondary-nav">
      <a class="weave-nav-link" href="https://github.com/stitchfix/weave">Github</a>
    </section>
  </nav>
  <!-- {% if page.secondary_nav %}
    <nav class="weave-container">
      <div class="weave-tabs">
        {% for nav_item in page.secondary_nav %}
          <a class="weave-tabs__label" href="#{{ nav_item}}">{{ nav_item}}</a>
        {% endfor %}
      </div>
    </nav>
  {% endif %} -->
</header>
