<div class="weave-grid-row">
  <div class="weave-grid-col weave-grid-col--1-8 weave-grid-col--1-4-lg weave-grid-col--1-2-md weave-grid-col--1-1-sm">1/8-xl 1/4-lg 1/2-md 1/1-sm</div>
  <div class="weave-grid-col weave-grid-col--1-8 weave-grid-col--1-4-lg weave-grid-col--1-2-md weave-grid-col--1-1-sm">1/8-xl 1/4-lg 1/2-md 1/1-sm</div>
  <div class="weave-grid-col weave-grid-col--1-8 weave-grid-col--1-4-lg weave-grid-col--1-2-md weave-grid-col--1-1-sm">1/8-xl 1/4-lg 1/2-md 1/1-sm</div>
  <div class="weave-grid-col weave-grid-col--1-8 weave-grid-col--1-4-lg weave-grid-col--1-2-md weave-grid-col--1-1-sm">1/8-xl 1/4-lg 1/2-md 1/1-sm</div>
  <div class="weave-grid-col weave-grid-col--1-8 weave-grid-col--1-1-xs">1/1-xs</div>
  <div class="weave-grid-col weave-grid-col--1-8 weave-grid-col--1-1-xs">1/1-xs</div>
  <div class="weave-grid-col weave-grid-col--1-8 weave-grid-col--1-1-xs">1/1-xs</div>
  <div class="weave-grid-col weave-grid-col--1-8 weave-grid-col--1-1-xs">1/1-xs</div>
</div>
