<div class="weave-grid-row weave-grid--left">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>
<div class="weave-grid-row weave-grid--center">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>
<div class="weave-grid-row weave-grid--right">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>
<div class="weave-grid-row weave-grid--reverse">
  <div>1</div>
  <div>2</div>
  <div>3</div>
  <div>4</div>
</div>
<div class="weave-grid-row weave-grid--reverse weave-grid--right">
  <div>1</div>
  <div>2</div>
  <div>3</div>
  <div>4</div>
</div>
<div class="weave-grid-row weave-grid--fill-space">
  <div class="weave-grid-col--1-6">1</div>
  <div class="weave-grid-col--1-6">2</div>
  <div class="weave-grid-col--1-6">3</div>
  <div>Last element fills space</div>
</div>
