---
layout: default
current_page: work
---

<div class="weave-grid-row">
  <div class="weave-grid-col--1-2 weave-grid-col--1-1-xs">
    <figure class="work-example work-example--returns-manager">
      <a href="{{ '/returns-manager.html' | prepend:site.baseurl }}">
        <img src="{{ site.baseurl }}/assets/images/work-example--returns-manager.png" class="work-example__image">
        <figcaption class="work-example__caption">
          Stitch Fix: Returns Manager 2.0
        </figcaption>
      </a>
    </figure>
  </div>
  <div class="weave-grid-col--1-2 weave-grid-col--1-1-xs">
    <figure class="work-example work-example--weave-design-system">
      <a href="{{ '/design-system.html' | prepend:site.baseurl }}">
        <img src="{{ site.baseurl }}/assets/images/work-example--weave-design-system.png" class="work-example__image">
        <figcaption class="work-example__caption">Stitch Fix: Weave Design System</figcaption>
      </a>
    </figure>
  </div>
</div>
