<div class="weave-container weave-container--xs">

  <form class="weave-form">

    <div class="weave-form-element">
      <label class="weave-form__label u-inline--lg">
        Label
      </label>
      <input type="text" class="weave-text-input u-inline--lg" placeholder="placeholder">
      <p class="weave-form__help-text">
        Help text
      </p>
    </div>

    <div class="weave-form-element weave-form-element--inline">
      <label class="weave-form__label u-inline--lg">
        An Inline Field
      </label>
      <div class="weave-form-element">
        <input type="text" class="weave-text-input u-inline--lg" placeholder="placeholder">
        <p class="weave-form__help-text">
          Help text
        </p>
      </div>
    </div>

    <div class="weave-form-element weave-form-element--inline">
      <label class="weave-form__label u-inline--lg">
        An Inline Field
      </label>
      <div class="weave-form-element">
        <input type="text" class="weave-text-input u-inline--lg" placeholder="placeholder">
      </div>
    </div>

    <div class="weave-form-element has-error">
      <label class="weave-form__label">
        This Input has an Error
      </label>
      <input type="text" class="weave-text-input">
      <p class="weave-form__help-text">
        Please enter a value
      </p>
    </div>

    <div class="weave-form-element is-disabled">
      <label class="weave-form__label">
        This Input is disabled
      </label>
      <input type="text" class="weave-text-input" disabled>
      <p class="weave-form__help-text">
        Please enter a value
      </p>
    </div>

    <div class="weave-form-element">
      <label class="weave-form__label">
        Character Count
      </label>
      <input type="text" class="weave-text-input">
      <p class="weave-form__help-text">
        Help text
        <span class="weave-form__help-text__character-count">
          31/40
        </span>
      </p>
    </div>

    <div class="weave-form-element has-error">
      <label class="weave-form__label">
        This Input has an Error
      </label>
      <input type="text" class="weave-text-input">
      <p class="weave-form__help-text">
        Please enter a value
        <span class="weave-form__help-text__character-count">
          31/40
        </span>
      </p>
    </div>

    <div class="weave-form-element">
      <label class="weave-form__label">
        Multi-line text input
      </label>
      <textarea type="text" class="weave-text-input weave-text-input--multi-line" placeholder="This is some placeholder text"></textarea>
    </div>

    <div class="weave-form-element">
      <label class="weave-form__label">
        Multi-line text input with character count
      </label>
      <textarea type="text" class="weave-text-input weave-text-input--multi-line" placeholder="This is some placeholder text"></textarea>
      <p class="weave-form__help-text">
        <span class="weave-form__help-text__character-count">
          31/40
        </span>
      </p>
    </div>

    <div class="weave-form-element">
      <label class="weave-form__label">
        Select
      </label>
      <div class="weave-select_container">
        <select name="select3" class="weave-text-input">
          <optgroup label="First Group">
            <option>Test</option>
            <option>Test</option>
          </optgroup>
          <optgroup label="Second Group">
            <option>Test</option>
            <option>Test</option>
          </optgroup>
          <optgroup label="Third Group">
            <option>Test</option>
            <option>Test</option>
          </optgroup>
        </select>
      </div>
    </div>

    <div class="weave-form-element">
      <div class="weave-selectable-input_container">
        <input type="checkbox" id="checkbox-example-1" class="weave-checkbox">
        <label class="weave-form__label" for="checkbox-example-1">Checkbox</label>
      </div>
      <div class="weave-selectable-input_container">
        <input type="checkbox" id="checkbox-example-2" class="weave-checkbox">
        <label class="weave-form__label" for="checkbox-example-2">Checkbox</label>
      </div>
      <div class="weave-selectable-input_container">
        <input type="checkbox" id="checkbox-example-3" class="weave-checkbox">
        <label class="weave-form__label" for="checkbox-example-3">Checkbox</label>
      </div>
    </div>

    <div class="weave-form-element">
      <div class="weave-selectable-input_container">
        <input type="radio" name="radio-examples" id="radio-example-1" class="weave-radio">
        <label class="weave-form__label" for="radio-example-1">Radio</label>
      </div>
      <div class="weave-selectable-input_container">
        <input type="radio" name="radio-examples" id="radio-example-2" class="weave-radio">
        <label class="weave-form__label" for="radio-example-2">Radio</label>
      </div>
      <div class="weave-selectable-input_container">
        <input type="radio" name="radio-examples" id="radio-example-3" class="weave-radio">
        <label class="weave-form__label" for="radio-example-3">Radio</label>
      </div>
    </div>

    <div class="weave-form-element weave-form-element--inline">
      <div class="weave-selectable-input_container">
        <input type="checkbox" id="checkbox-example-1b" class="weave-checkbox">
        <label class="weave-form__label" for="checkbox-example-1b">Checkbox</label>
      </div>
      <div class="weave-selectable-input_container">
        <input type="checkbox" id="checkbox-example-2b" class="weave-checkbox">
        <label class="weave-form__label" for="checkbox-example-2b">Checkbox</label>
      </div>
      <div class="weave-selectable-input_container">
        <input type="checkbox" id="checkbox-example-3b" class="weave-checkbox">
        <label class="weave-form__label" for="checkbox-example-3b">Checkbox</label>
      </div>
    </div>

    <div class="weave-form-element weave-form-element--inline">
      <div class="weave-selectable-input_container">
        <input type="radio" name="radio-examples-2" id="radio-example-1b" class="weave-radio">
        <label class="weave-form__label" for="radio-example-1b">Radio</label>
      </div>
      <div class="weave-selectable-input_container">
        <input type="radio" name="radio-examples-2" id="radio-example-2b" class="weave-radio">
        <label class="weave-form__label" for="radio-example-2b">Radio</label>
      </div>
      <div class="weave-selectable-input_container">
        <input type="radio" name="radio-examples-2" id="radio-example-3b" class="weave-radio">
        <label class="weave-form__label" for="radio-example-3b">Radio</label>
      </div>
    </div>

  </form>

</div>
